<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="h4">Rating (0-10)</h1>
        <input type="text" id="Rating">
        <h1 class="h4">Add any of your comments here</h1>
        <input type="text" id="Comments">
        <h1 class="h4">Upload images</h1>
        <input id="fileUpload" multiple="multiple" type="file" name="files"  >



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="addReview" type="button" class="btn btn-primary">Add Review</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="favoriteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{springName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Are you sure you want to favorite this spring?</h1>
        


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nope</button>
        <button id="favoriteSpring" type="button" class="btn btn-primary">Yes, I'm sure</button>
      </div>
    </div>
  </div>
</div>



<section class="body-wrapper col-lg-10 offset-lg-2 h-100 p-0">

<section class="row intro mt-5">
  
  <section class="springDescriptionSection align-items-center col-lg-3 col-sm-12 col-med-6 mt-5 offset-2 text-white row">
    <h1 class="h4">{{springData.0.springDescription}}</h1>
  </section>

  <section class="imageSection offset-1 mt-5 col-lg-6">
    {{#each displayMedia}}  <img src={{this}} alt=""> {{/each}}
  </section>


</section>

<section class="row amenitiesSection col-12 mt-5">
  <h1 class="col-12 text-center mt-5 text-white">Amenities</h1>
</section>

<section class="cardGallery col-12 row justify-content-around">
  {{#each amenities}}

<div class="card col-2 h-100" style="">
  <img class="card-img-top" style="" src={{this.mediaURL}} alt="Card image cap">
  <div class="card-body  " style="height: 300px">
    <h5 class="card-title ">{{this.amenityTitle}}</h5>
    <p class="card-text overflow-auto h-50">{{this.amenityDescription}}</p>
    <a href="#" class="btn btn-primary">Check it out!</a>
  </div>
</div>

  {{/each}}
</section>




<section class="row reviewsSection col-12 mt-5">
  <h1 class="col-12 text-center mt-5 text-white">Reviews</h1>
</section>

<section class="cardGallery col-12 row justify-content-around mb-5">
  {{#each allReviews}}

<div class="card col-2 h-100" style="">
  <img class="card-img-top" style="" src={{this.URL}} alt="Card image cap">
  <div class="card-body  " style="height: 200px">
    <h5 class="card-title ">Review</h5>
    <p class="card-text overflow-auto h-50">{{this.reviewText}}</p>
    <a href="#" class="btn btn-primary">Check it out!</a>
  </div>
</div>

  {{/each}}
</section>







</section>

<footer class="col-12 bg-dark  p-0 row align-items-center justify-content-end" style="height: 5vh; width: 100vw; position:fixed; top: 96vh">
  <section class="favorite row col-3">
  <h1 class="h2 text-white ml-3">Liked this spring?</h1> <button class=" ml-4 btn btn-primary h-75 align-self-center"  id="favoriteButton" data-toggle="modal" data-target="#favoriteModal"> Favorite it!</button>
</section>
<section class="addReview row col-3">
  <h1 class="h4 text-white">Want to leave some feedback?</h1> <button id="addAreviewButton" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary ml-3">Add a review!</button>
</section>
</footer>
</section>

<h1 id="springID" style="display: none">{{springData.0.springID}}</h1>

<script src="/js/spring.js"></script>